apdev-flights-ws-AFTER-WT8/target/META-INF/mule-src/wt7-5_apdev-flights-ws_solution/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api_2="http://www.mulesoft.org/schema/mule/american-flights-api_2"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api_2 http://www.mulesoft.org/schema/mule/american-flights-api_2/current/mule-american-flights-api_2.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="setCode" doc:id="35604f52-6431-4782-8dad-c983293c5ea2" >
		<set-variable value="#[attributes.queryParams.code default 'SFO']" doc:name="set code" doc:id="01675f57-f4fa-41ca-96f8-f0901fb33bb0" variableName="code"/>
	</flow>
	<flow name="getAmericanFlights" doc:id="13a32839-2e8f-427c-962d-c43f64d2ff6e" >
		<http:listener doc:name="GET /american" doc:id="ad67dff1-66e2-4e78-9fd1-f19977f82ef3" config-ref="HTTP_Listener_config" path="/american"/>
		<flow-ref doc:name="Flow Reference" doc:id="b7c16377-4369-4e11-b50b-d4d07c2b7ed5" name="setCode"/>
		<american-flights-api_2:get-flights doc:name="Get flights" doc:id="d37a14b9-fd15-48d9-8424-955c6110afdf" config-ref="American_Flights_API_2_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
	</flow>
	<flow name="getDeltaFlights" doc:id="48ba4964-0302-46fb-aec5-d55230cf8b22" >
		<http:listener doc:name="GET /delta" doc:id="326ef96f-e692-4a94-9b8d-42614093457c" config-ref="HTTP_Listener_config" path="/delta"/>
		<flow-ref doc:name="set code" doc:id="8d3b7d42-36dd-4094-ba20-7272974e9cd5" name="setCode"/>
		<ee:transform doc:name="Pass code" doc:id="c50f0089-9965-495d-95ec-5b2923f3e31c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code 
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="Get Flights" doc:id="bbd5089b-1519-405f-9e27-7aa3348b1616" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="8e9e7a2b-9e5c-4c93-97a9-97fc472595de" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getUnitedFlights" doc:id="29c8bd11-eebc-4686-b8e3-653a15a927ec" >
		<http:listener doc:name="GET /united" doc:id="634af5f2-a3b0-47f4-8839-19c1fbe40d29" config-ref="HTTP_Listener_config" path="/united"/>
		<flow-ref doc:name="Flow Reference" doc:id="a2a12e28-37dc-42ba-91dd-154f5f6f5ac4" name="setCode"/>
		<http:request method="GET" doc:name="Get fligths" doc:id="727d163a-8823-4760-8a35-7c31a29d150b" config-ref="HTTP_Request_configuration_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	dest : vars.code
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
